# Data prep

This notebook is used for preparing the data, and splitting it into the train, test, and benchmark sets

In [1]:
# imports
import pandas as pd
from utils.data_utils import *

In [2]:
# choose which dataset to import here
to_import = "combined"

# import dataset
if to_import == "phiusiil":
    train, validation, benchmark = import_phiusiil()
elif to_import == "malicious_phish":
    train, validation, benchmark = import_malicious_phish()
elif to_import == "url_dataset":
    train, validation, benchmark = import_url_dataset()
elif to_import == "combined":
    train, validation, benchmark = import_combined(fraction=0.02)

## data.head()

In [3]:
train.head()

                                                 url  label
0  www.shudokanaikido.i15.eu/sklep/language/pl-PL...      0
1  https://www.io9.com/351419/whos-the-tallest-gi...      0
2                         https://www.lundfloral.net      0
3  itunes.apple.com/us/artist/jeffrey-steele/id18...      0
4                          https://www.newsaero.info      0

In [4]:
train["label"].value_counts()

label
0    14201
1     6849
Name: count, dtype: int64

In [5]:
validation.head()

                                                 url  label
0                           facebook.com/keyshiacole      0
1      https://www.en.wikipedia.org/wiki/Jeff_Mullen      0
2                            spokeo.com/Robert+Boone      0
3   https://www.flickr.com/photos/wallyg/3853626211/      0
4  weather.yahoo.com/martinique/fort-de-france/fo...      0

In [6]:
validation["label"].value_counts()

label
0    1775
1     856
Name: count, dtype: int64

In [7]:
benchmark.head()

                                                 url  label
0                              https://www.life.com/      0
1  https://www.webanswers.com/social-sciences/lan...      0
2                            https://www.popbuzz.com      0
3  bigreddirectory.ca/restaurant_la_belle_provinc...      0
4  https://www.absoluteastronomy.com/topics/Moniq...      0

In [8]:
benchmark["label"].value_counts()

label
0    1776
1     857
Name: count, dtype: int64

In [9]:
train.to_csv(f"datasets/train.csv", index=False)
validation.to_csv(f"datasets/validation.csv", index=False)
benchmark.to_csv(f"datasets/benchmark.csv", index=False)